<div class="container">
  <div class="row">
    <div class="col-11">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link active" routerLink="home">Home</a></li>
        <li class="nav-item" *ngFor="let item of menu|async as item">
          <a class="nav-link" routerLink="{{item}}" routerLinkActive="active">{{ item|titlecase }}</a>
        </li>
      </ul>
    </div>
    <div class="col-1">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="float:right;" routerLink="support" routerLinkActive="active">Support</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<header>
  <div class="container" >

    <div class="row">
      <div class='col-2' >
        <img src="assets/img/{{header.image}}" />
      </div>
      <div class='col-8'>
        <h2>{{header.competition}}</h2>
        <h4>{{header.date}}</h4>
        <p>{{header.location}}</p>
      </div>
    </div>
  </div>
</header>
