<footer class='footer fixed-bottom'>
  <div class='container'>
      <div>
        &copy; 2017-2018 Mark Garber dba Georgia DanceSport<br/>
      </div>
      <div>
        <img src="assets/img/cc_icon_white_x2.png"/>
        <img src="assets/img/attribution_icon_white_x2.png"/>
        <img src="assets/img/sa_white_x2.png"/>
        Licensed Attribution-Share Alike 4.0 International (CC BY-SA 4.0)
      </div>
      <div>
         <a href="http://github.com/501c3/" target="_blank">Georgia DanceSport Infrastructure/Under Development</a>
      </div>
    </div>
</footer>
